@media(max-width: 500px){

    
    .Product{
        display: grid;
        grid-template-columns: repeat(2, 13rem);
    }
    .ProCard{
        width: 70%;
        margin: 15px;
        padding: -10px;
        text-align: center;
        height: 17rem;
        
    }
    .mainPhoto{

    }
    .Cart{
        width: 85vw;
    }
}

@media(min-width: 501px) and (max-width: 800px){ 
    /* 768 */
    .Product{
        display: grid;
        grid-template-columns: repeat(3, 15rem);
    }
}






