
.Prod{
    /* display: flex;
    justify-content: center; */
    /* display: grid;
    justify-content: center; */
}
.ProCard{
    /* background: grey; */
    width: 20vw;
    margin: 15px;
    text-align: center;
    border: black 1px solid;
    border-radius: 10px;
}

.ProCard img{
    width: 18vw;
    height: 10vw;
}

.CardBtn{
    border-radius: 50px;
    background: pink;
    margin: 10px;
}

.Cart{
    background: grey;
}

.Cart img{
    width: 10vw;
    height: 8vw;
    /* display: flex;
    justify-content: center; */
}