@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

.Mainpage{
    position: relative;
    font-family: 'Lato', sans-serif;
}

.mainPhoto img{
    width: 100%;
    height: 45%;
}

.Product{
    display: grid;
    grid-template-columns: repeat(4, 20rem [col-start]);
    
}


.ProCard{
    
    width: 20vw;
    height: 60%;
    margin: 15px;
    text-align: center;
    padding: 10px;
    
}

.ProCard:hover{
    
    box-shadow: 1px 1px 2px grey, 0 0 5px grey, 0 0 1px lightblue;
}

.ProCard p{
    font-size: 11px;
    color: grey;
    font-weight: 700;
}




.Search{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.productSearchbar{
    margin: 10px;
    width: 200px;
    height: 2rem;
    font-size: 16px;
    background: rgba(211, 211, 211, 0.356);
    border-radius: 4px;
    transition: width 0.4s ease-in-out;
    outline: none;
    text-align: center;
    border: none;
    border-bottom: 2px solid red;
    
}
.productSearchbar:focus{
    background-color: lightgoldenrodyellow;
    border: 3px solid #555;
    width: 60%;
}

.ProCard img{
    width: 18vw;
    height: 16vw;
    
}

.ProCard a{
    text-decoration: none;
    color: black;
}

.ProCard a:hover h4{
    text-decoration: underline;
}

.CardBtn{
    border: black 1px solid;
    border-radius: 2px;
    background: none;
    margin: 10px;
    width: 90%;
    height: 1.6rem;
    transition: 0.4s;
    font-size: 12px;
    
}

.CardBtn:hover{
   
    color: white;
    background: black;
    
}


/*product page*/
.productPage{
    display: flex;
}

.productPage img{
   width: 400px;
}

.productPage button{
   width: 120px;
}

/*cart*/
.cartPage{
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.Cart{
    background: grey;
    /* display: flex; */
    width: 50vw;
    
    
}


.shipping-charge{
    font-size: 10px;
}

/*Checkout*/

/*sign in*/
.form{
    max-width: 60rem;
    margin: 0 auto;
}
.form > div{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.form label{
    margin: 1rem 0;
    display: block;
}

.checkout-steps > div{
    border-top: 0.4rem #c0c0c0 solid;
    color: #c0c0c0 ;
    flex: 1px;
    padding: 1rem;
    font-weight: bold;
}

.checkout-steps > div.active{
    border-top:  0.4rem #ec649d solid;
    color: #ec649d ;
    
}


.addressform{
    text-align: center;
    margin-bottom: 20px;
    
}

.addressform-section{
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;
}
.addressform-section label{
    margin-right: 7px;
}
.addressform-section select{
    outline: #ec649d 2px solid;
}

.addressform-section input{
    border: none;
    border-bottom: #ec649d 2px solid;
    
}
.addressform-section input:focus{
    outline: none;
}

/*product page*/




.block{
    background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  
}

.row{
    display: flex;
    margin-bottom: 10px;
}

.col-1 {
    flex: 1;
}
.col-2 {
    flex: 2;
}

.text-right {
    text-align: right;
  }

  .row.center {
    align-items: center;
  }

  
.Cart img{
    width: 10vw;
    height: 8vw;
    border-radius: 4px;
}

.CartPrice{
    margin: 10px;
   display: grid;
}


.cartBtn{
    width: 25px;
    border-radius: 50px;
    background: none;
    transition: 0.4s;
}

.cartBtn:hover{
    color: white;
    background: black;
}

