@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

.Mainpage{
    position: relative;
    font-family: 'Lato', sans-serif;
}

.Product{
    /* display: flex;
    justify-content: center; */
    display: grid;
    /* grid-template-columns: 20rem 20rem 20rem 20rem; */
    grid-template-columns: repeat(4, 20rem [col-start]);
    /* box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
}
.ProductCard{
    /* display: flex;
    justify-content: center; */
    /* display: grid;
    justify-content: center; */
    /* display: grid;
    grid-template-columns: 2fr; */
}

.ProCard{
    
    width: 20vw;
    height: 12rem;
    margin: 15px;
    text-align: center;
    /* border: black 1px solid;
    border-radius: 10px; */
    /* box-shadow: 1px 1px 2px grey, 0 0 5px grey, 0 0 1px lightblue; */
    /* box-shadow: 1px 1px 2px grey, 0 0 5px grey, 0 0 1px lightblue; */
}

.ProCard:hover{
    
    box-shadow: 1px 1px 2px grey, 0 0 5px grey, 0 0 1px lightblue;
}

.ProCard p{
    font-size: 11px;
    color: grey;
    font-weight: 700;
}




.Search{
    display: flex;
    justify-content: center;
}

.productSearchbar{
    margin: 10px;
    /* display: flex; */
    /* width: 50rem; */
    width: 200px;
    /* box-sizing: border-box; */
    height: 2rem;
    font-size: 16px;
    background: rgba(211, 211, 211, 0.356);
    border-radius: 4px;
    transition: width 0.4s ease-in-out;
    outline: none;
    text-align: center;
    border: none;
    border-bottom: 2px solid red;
}
.productSearchbar:focus{
    background-color: rgba(173, 216, 230, 0.342);
    border: 3px solid #555;
    width: 60%;
}

.ProCard img{
    width: 18vw;
    height: 16vw;
    
}

.ProCard a{
    text-decoration: none;
    color: black;
}

.ProCard a:hover h4{
    /* color: rgba(0, 0, 0, 0.616); */
    text-decoration: underline;
}

.CardBtn{
    border: black 1px solid;
    border-radius: 2px;
    background: none;
    margin: 10px;
    width: 90%;
    height: 1.6rem;
    transition: 0.4s;
    font-size: 12px;
    
}

.CardBtn:hover{
   
    color: white;
    background: black;
    
}

.Cart{
    background: grey;
    /* display: flex; */
    
}

/* .CartItems{
    display: flex;
    flex-direction: row;
} */



/*Checkout*/
.checkout-steps > div{
    border-top: 0.4rem #c0c0c0 solid;
    color: #c0c0c0 ;
    flex: 1px;
    padding: 1rem;
    font-weight: bold;
}

.checkout-steps > div.active{
    border-top: #ec649d;
    color: #ec649d ;
    
}










.block{
    background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.row{
    display: flex;
    /* justify-content: space-around; */
    margin-bottom: 10px;
}

.col-1 {
    flex: 1;
}
.col-2 {
    flex: 2;
}

.text-right {
    text-align: right;
  }

  .row.center {
    align-items: center;
  }

  
.Cart img{
    width: 10vw;
    height: 8vw;
    border-radius: 4px;
    /* display: flex;
    justify-content: center; */
}

.CartPrice{
    margin: 10px;
   display: grid;
}

/* .checkout{
    display: flex;
    flex-wrap: wrap;
} */

.cartBtn{
    width: 25px;
    border-radius: 50px;
    background: none;
    transition: 0.4s;
}

.cartBtn:hover{
    color: white;
    background: black;
}

