@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dela+Gothic+One&display=swap');

.Header{
    background: cornflowerblue;
    height: 3.6rem;
    /* font-family: 'Dela Gothic One', cursive; */
    font-family: 'Anton', sans-serif;
}

i{
    position: relative;
}
.countBtn{
    background: rgb(248, 0, 0);
    border: none;
    border-radius: 50px;
    font-weight: 700;
    font-size: 10px;
    position: absolute;
    right: 0.6rem;
    top: 1.5rem;
}

.fa-shopping-cart{
    color: black;
    margin-right: 1.5rem;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
   
}

li{
    padding-top: 15px;
}