@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');


.Header{
    background: cornflowerblue;
    height: 3.6rem;
    /* font-family: 'Dela Gothic One', cursive; */
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Lato', sans-serif;
    position: sticky;
    top: 0;
    left: 0;
}

i{
    position: relative;
}
.countBtn{
    background: rgb(248, 0, 0);
    border: none;
    border-radius: 50px;
    font-weight: 700;
    font-size: 11px;
    position: absolute;
    right: 0.6rem;
    top: 0.7rem;
}

.fa-shopping-cart{
    color: black;
    margin-right: 1.8rem;
    margin-top: 0.3rem;
    font-size: 20px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
   
}

li{
    padding-top: 15px;
}


